@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;

  .logo-main {
    width: 120px;
  }

  &-header {
    margin-bottom: 4em;
    padding: 1.4em 1.4em;
    display: flex;
    justify-content: flex-start;
    background-color: #0064e4;
    box-sizing: border-box;
  }
  
  &-body {
    padding: 0em 1em;
  }
}
